html, body, #__nuxt {
    height: 100%;
}

.category-nav {
    position: fixed;
    top: 52px;
    width: 7.5rem;
    height: 36px;
    line-height: 36px;
    display: flex;
    padding: 0 0.28rem;
    background-color: rgb(244, 245, 246);
}

.category-nav li {
    margin-right: 0.5rem;
}

.category-nav a {
    color: #505050;
    font-size: 18px;
    text-decoration: none;
}

.category-select {
    color: #4285f4!important;
}

.article-list {
    padding-top: 88px;
}

.article-item {
    margin-left: 0.28rem;
    margin-right: 0.28rem;
    padding-bottom: 0.28rem;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
}

.article-item-link {
    text-decoration: none;
}

.article-title {
    font-weight: 400;
    color: #222;
    padding: .28rem 0 0.1rem 0;
}

.article-property-box {
    height: auto;
    line-height: normal;
}


.article-property {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.15rem;
    color: #666;
    line-height: 12px;
}

.article-category {
    border-radius: 3px;
    border: 1px solid #5f9bff;
    color: #4285f4;
    padding: 0 0.02rem;
    line-height: 10px;
}

.articles-loading {
    font-size: 14px;
    text-align: center;
    padding: 0.2rem 0;
}
